@using ticonet;
@using Business_Logic;
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>



<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />


                @Html.LabelFor(m => m.Email) <text>:</text>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = " form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => model.entranceCode)<text>:</text>
                @Html.EditorFor(model => model.entranceCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entranceCode, "", new { @class = "text-danger" })
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Email Link" />
                    </div>
                </div>
            }
            <div style="color:red">
                @ViewBag.message
            </div>
        </section>
    </div>
</div>

