@using ticonet;
@using Business_Logic;
@model familyViewModel



<div class="section1">

    <form>
        @Html.AntiForgeryToken()
        <div class="row ">


            <div class="col-md-4 ">
                <h2>@DictExpressionBuilderSystem.Translate("general.majorParent")</h2>
                <div>
                    @*@Html.LabelFor(x => x.EditableTblFamily.oneParentOnly)
                        @Html.CheckBoxFor(x => x.EditableTblFamily.oneParentOnly, new { @disabled = "disabled" })*@
                    @Html.LabelFor(x => x.EditableTblFamily.oneParentOnly)
                    @Html.HiddenFor(x => x.EditableTblFamily.oneParentOnly)
                    @{if (Model.EditableTblFamily.oneParentOnly == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.oneParentOnly)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }

                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent1FirstName)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent1FirstName)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent1LastName)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent1LastName)
                </div>
                @*<div>
                        @Html.LabelFor(x => x.EditableTblFamily.parent1Type)
                        @Html.DisplayFor(x => x.EditableTblFamily.parent1Type)
                    </div>*@
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent1CellPhone)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent1CellPhone)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent1CellConfirm)
                    @*@Html.CheckBoxFor(m => m.parent1CellConfirm, new { @checked = "checked" })*@
                    @{if (Model.EditableTblFamily.parent1CellConfirm == null)
                    {<img src="~/Content/img/false.png" alt="NO">
                        <button type="button" id="parent1cell" class="cellConfirm btn btn-primary btn-sm" value="@Model.EditableTblFamily.parent1CellPhone">@DictExpressionBuilderSystem.Translate("general.confirm")</button>}
                    else if ((bool)Model.EditableTblFamily.parent1CellConfirm)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">
                        <button type="button" id="parent1cell" class="cellConfirm btn btn-primary btn-sm" value="@Model.EditableTblFamily.parent1CellPhone">@DictExpressionBuilderSystem.Translate("general.confirm")</button>}
                    }
                </div>

                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent1Email)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent1Email)
                </div>

                <div class="editor-field" style="margin-top:6px;margin-bottom:3px;">
                    @Html.LabelFor(x => x.EditableTblFamily.parent1EmailConfirm)
                    @{if (Model.parent1EmailConfirm == null)
                    {<img src="~/Content/img/false.png" alt="NO">
                        <button type="button" id="parent1" class="emailConfirm btn btn-info btn-sm">@DictExpressionBuilderSystem.Translate("general.confirm")</button>}
                    else if ((bool)Model.parent1EmailConfirm)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">
                        <button type="button" id="parent1" class="emailConfirm btn btn-info btn-sm">@DictExpressionBuilderSystem.Translate("general.confirm")</button>}
                    }
                </div>

                @*<div>
                        @Html.LabelFor(x => x.EditableTblFamily.parent1GetAlertByEmail)

                        @{if (Model.EditableTblFamily.parent1GetAlertByEmail == null)
                        {<img src="~/Content/img/false.png" alt="NO">}
                        else if ((bool)Model.EditableTblFamily.parent1GetAlertByEmail)
                        {<img src="~/Content/img/true.png" alt="YES"> }
                        else
                        {<img src="~/Content/img/false.png" alt="NO">}
                        }

                    </div>*@
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.allredyUsed)
                    @{if (Model.EditableTblFamily.allredyUsed == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.allredyUsed)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }

                </div>


            </div>
            <div class="col-md-4 secondParent">
                <h2>@DictExpressionBuilderSystem.Translate("general.secondParent")</h2>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2FirstName)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent2FirstName)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2LastName)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent2LastName)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2CellPhone)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent2CellPhone)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2CellConfirm)
                    @{if (Model.EditableTblFamily.parent2CellConfirm == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.parent2CellConfirm)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2GetAlertBycell)
                    @{if (Model.EditableTblFamily.parent2GetAlertBycell == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.parent2GetAlertBycell)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2Email)
                    @Html.DisplayFor(x => x.EditableTblFamily.parent2Email)
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2EmailConfirm)
                    @{if (Model.EditableTblFamily.parent2EmailConfirm == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.parent2EmailConfirm)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }
                </div>
                <div>
                    @Html.LabelFor(x => x.EditableTblFamily.parent2GetAlertByEmail)
                    @*@Html.CheckBoxFor(m => m.parent1EmailGetAlert, new { @checked = "checked" })*@
                    @{if (Model.EditableTblFamily.parent2GetAlertByEmail == null)
                    {<img src="~/Content/img/false.png" alt="NO">}
                    else if ((bool)Model.EditableTblFamily.parent2GetAlertByEmail)
                    {<img src="~/Content/img/true.png" alt="YES"> }
                    else
                    {<img src="~/Content/img/false.png" alt="NO">}
                    }

                </div>


            </div>
            <div class="col-md-4">
                <h2>@DictExpressionBuilderSystem.Translate("general.payment")</h2>
                <div>
                    @DictExpressionBuilderSystem.Translate("general.paymentMethod")
                </div>


            </div>
        </div>
        <p> <button type="button" class="btn btn-default " onclick="location.href='@Url.Action("update", "Family")';"><span class="glyphicon glyphicon-pencil"></span>עדכון פרטים</button></p>

        @if (Model.students != null && Model.EditableTblFamily.parent1CellConfirm && Model.EditableTblFamily.parent1EmailConfirm)
        {
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        @DictExpressionBuilderSystem.Translate("general.kids")
                    </div>
                    <div class="panel panel-default">
                        <table class="table table-striped table-hover table-responsive table-condensed" data-toggle="table" dir="rtl">
                            <tr class="students">
                                <th>
                                    <strong> @DictExpressionBuilderSystem.Translate("tblStudent.year")</strong>
                                </th>
                                <th>
                                    <strong>   @DictExpressionBuilderSystem.Translate("tblStudent.studentId")</strong>
                                </th>
                                <th>
                                    <strong>   @DictExpressionBuilderSystem.Translate("tblStudent.lastName")</strong>
                                </th>
                                <th>
                                    <strong>   @DictExpressionBuilderSystem.Translate("tblStudent.firstName")</strong>
                                </th>
                                <th>
                                    <strong> @DictExpressionBuilderSystem.Translate("tblStudent.class") </strong>
                                </th>

                                <th>
                                    <strong>  @DictExpressionBuilderSystem.Translate("tblStudent.CellPhone")</strong>
                                </th>
                                <th>
                                    <strong>  @DictExpressionBuilderSystem.Translate("tblStudent.paymentStatus")</strong>
                                </th>
                                <th>
                                    <strong>  @DictExpressionBuilderSystem.Translate("tblStudent.registrationStatus")</strong>
                                </th>
                                <th>
                                    <strong>     @DictExpressionBuilderSystem.Translate("tblStudent.ShowCard")</strong>
                                </th>
                                <th>
                                    <strong>  @DictExpressionBuilderSystem.Translate("tblStudent.payments")</strong>
                                </th>
                            </tr>
                            @if (Model.students != null)
                            {
                                foreach (var item in Model.students)
                                {
                                    <tr class="students">
                                        <td class="col-lg-1">
                                            @Html.DropDownListFor(x => item.yearRegistration, new SelectList(ViewBag.Years, "year", "nameHeb", item.yearRegistration), new { @disabled = "disabled" })
                                        </td>
                                        <td class="col-lg-1">
                                            <span>@Html.DisplayFor(modelItem => item.studentId)</span>
                                        </td>
                                        <td class="col-lg-1">
                                            <span>@Html.DisplayFor(modelItem => item.firstName)</span>
                                        </td>
                                        <td class="col-lg-1">
                                            <span>@Html.DisplayFor(modelItem => item.lastName)</span>
                                        </td>

                                        <td class="col-lg-1">
                                            <span>@Html.DisplayFor(modelItem => item.@class)</span>
                                        </td>

                                        <td class="col-lg-1">
                                            <span>@Html.DisplayFor(modelItem => item.CellPhone)</span>
                                        </td>


                                        <td class="col-lg-1">
                                            <span>
                                                @{if (item.paymentStatus == null)
                                                {
                                                    <img src="~/Content/img/false.png" alt="NO">}
                                                else if ((bool)item.paymentStatus)
                                                {
                                                    <img src="~/Content/img/true.png" alt="YES"> }
                                                else
                                                {
                                                    <img src="~/Content/img/false.png" alt="NO">}
                                                }
                                            </span>
                                        </td>
                                        <td class="col-lg-1">
                                            <span>
                                                @{if (item.registrationStatus == null)
                                                {
                                                    <img src="~/Content/img/false.png" alt="NO">}
                                                else if ((bool)item.registrationStatus)
                                                {
                                                    <img src="~/Content/img/true.png" alt="YES"> }
                                                else
                                                {
                                                    <img src="~/Content/img/false.png" alt="NO">}
                                                }
                                            </span>
                                        </td>

                                        <td class="col-lg-1">
                                            <button type="button" style="margin:1px; " class="btn btn-primary col-lg-12  " onclick="location.href='@Url.Action("update", "tblStudent", new { id = @item.pk, projectid = @ViewBag.projectId })' ;return false;"><span style="margin-right: 2px" class="glyphicon glyphicon-pencil"></span>עדכן</button>
                                        </td>
                                        <td class="col-lg-1">
                                            <button type="button" style="margin:1px; " class="btn btn-success col-lg-12" onclick="location.href='#';return false;"><span style="margin-right: 2px" class="glyphicon glyphicon-list"></span>@DictExpressionBuilderSystem.Translate("general.paymentList")</button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>NO DATA</td>
                                </tr>
                            }
                        </table>
                        <div class="panel-footer">
                            <p> <button type="button" class="btn btn-success " onclick="location.href='@Url.Action("create", "tblStudent")' ;"><span class="glyphicon glyphicon-bookmark"></span> @DictExpressionBuilderSystem.Translate("general.AddKid")&raquo;</button></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-danger">
                <strong>@DictExpressionBuilderSystem.Translate("message.attention")!</strong> @DictExpressionBuilderSystem.Translate("message.youMustConfirmMailAndCell")
            </div>

        }
        <div id="Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@DictExpressionBuilderSystem.Translate("general.confirmCellPhon")</h4>
                    </div>
                    <div class="modal-body">
                        <label for="inputKod">@DictExpressionBuilderSystem.Translate("general.inserttheKodfromthesms")</label>
                        <input type="text" class="form-control" id="kod" />
                        <button type="button" id="confirmModal" class="btn btn-success col-lg-3">@DictExpressionBuilderSystem.Translate("general.ConfirmCellNumber")</button>
                        <input type="hidden" id="hiddenCellNum" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@DictExpressionBuilderSystem.Translate("general.close")</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script>

    $("#confirmModal").click(function (e) {
        var CellNum = document.querySelector('#hiddenCellNum').value;
        var kod = $("#kod").val();
        if (kod == null) {
            alert("'@DictExpressionBuilderSystem.Translate("message.MustFilledKod")'");
            return;
        }
        var data = { 'kod': kod, 'cellNumber': CellNum }
        $.post('/System/ConfirmCellPhonNumberupdate', data,
      function (result) {
          if (result == 0) {
              $("#Modal").modal('hide');
              location = location.href;
          }
          else
              alert("'@DictExpressionBuilderSystem.Translate("message.problemTryAgain")'");
      });
    });





    $('.emailConfirm').click(function (e) {
        var emailHolder = this.id;
        var data = { 'emailHolder': emailHolder }
        $.post('/System/ConfirmEmail', data,
        function (result) {
            if (result.success)
                alert("'@DictExpressionBuilderSystem.Translate("message.PleasecheckyourEmailInbox")'");
            else
                alert("'@DictExpressionBuilderSystem.Translate("message.problemTryAgain")'");
        });
    });

    $('.cellConfirm').click(function (e) {
        var cellNum = $(this).val();
        var phoneHolder = this.id;
        var url = '@Url.Action("ConfirmCellPhonNumber", "System")';
        $.ajax({
            url: url,
            type: "POST",
            dataType: 'json',
            data: { cellNumber: cellNum, phoneHolder: phoneHolder },
            success: function (result) {
                if (result == 0) {
                    $("#Modal").modal('show');
                    $('#hiddenCellNum').val(cellNum);
                }
                else {
                    alert("'@DictExpressionBuilderSystem.Translate("message.cantBeExecute")'");
                }
            },
            error: function (result) {
                alert("'@DictExpressionBuilderSystem.Translate("message.error")'");
            }
        });
    });




    function divHide() {
   
        var isChecked = $('#EditableTblFamily_oneParentOnly').val();
        var divHide = document.querySelector('.secondParent');
        if (isChecked) {
            divHide.style.visibility = 'hidden';

        } else {
            divHide.style.visibility = 'visible';
        }
    }

    divHide();

</script>


